.inputWrap {
  display: flex;
  align-items: center;
  position: relative;

  & + .inputWrap {
    margin-top: 1rem;
  }

  input {
    width: 100%;
  }

  .inputStatus {
    position: absolute;
    right: .5rem;
    font-size: .75rem;
  }
}