@import "./colors.scss";

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type="password"],
input[type="text"],
input[type="email"] {
  border: 1px solid $primaryLight;
  line-height: 3.5rem;
  border-radius: .25rem;
  padding-left: .5rem;
  padding-right: 2.5rem;

  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  background-color: $primary;
  color: $white;
  border-radius: .5rem;
  font-size: 1rem;
  border: none;
  padding: 1rem 4rem;

  &:hover {
    opacity: .9;
  }
}